params {
    publish_dir_mode = 'copy'

    cutadapt_fastq_gz_dir = 'raw_fastq_files_new'

    cutadapt_R1_file_suffix = '_S*_R1_001.fastq.gz'

    cutadapt_R2_file_suffix = '_S*_R2_001.fastq.gz'

    workflow = 'regular'
}

// Load base.config by default for all pipelines
includeConfig "conf/base.config"
// Load modules.config for DSL2 module specific options
includeConfig "conf/modules.config"


/*
*
*/
// Capture exit codes from upstream processes when piping
process.shell = ["/bin/bash", "-euo", "pipefail"]

timeline {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_report.html"
    overwrite = true
}

trace {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/pipeline_dag.html"
    overwrite = true
}