params {
    publish_dir_mode = 'copy'

    workflow = 'regular'
}

// Load base.config by default for all pipelines
includeConfig "conf/base.config"


/*
*
*/
// Capture exit codes from upstream processes when piping
process.shell = ["/bin/bash", "-euo", "pipefail"]

timeline {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_report.html"
    overwrite = true
}

trace {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/pipeline_dag.html"
    overwrite = true
}