params {
    out_dir = '/fh/fast/_SR/Genomics/user/atirumala/nextflow/hello_world/output'
    publish_dir_mode = 'copy'
}

/*
 details of each process
*/

process {
    withName: CUTADAPT {
        ext.args = "-a AGATCGGAAGAGCACACGTCTGAACTCCAGTCA -A AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT "
        publishDir = [
            path: { "${params.out_dir}/trimmed_fastq" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.gz',
            enabled: true
        ]   
    }
}